@charset "UTF-8";

body{
	background-color: #09C;
	color:#FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	text-shadow: -1px 1px 2px #444444;
}
input[type="text"]{
    border-radius: 6px;
    font-size: 14px;
    height: 20px;
	width:260px;
}
textarea{
	border-radius: 6px;
	font-size: 14px;
	height: 50px;
	margin-bottom:15px;
}
a:link {
	color: #0F3;
}
a:visited {
	color: #CCC;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}
.movable{
	/* Pas de style, uniquement pour reconnaître 
	*les contenues à hide()/show() */ 
}
.part{
	background:#183F50;
    border-radius: 15px;
	box-shadow: 0 0 3px #F4F1DE;
	clear:both;
    margin: 18px auto;
    padding: 30px;
	position:relative;
	text-align:center;
    width: 400px;
}
.partTop{
	float:left;
	margin-right:20px;
	margin-bottom:15px;
	height:auto;
	width:auto;
}
.part label{
	display: inline-block;
	vertical-align:top;
	width: 200px;
}
.part form label{
	display: inline-block;
	text-align: right;
	padding-right: 20px;
	width:100px;
}
select{
	background: #FFD21E;
	border: 1px solid #999999;
    border-radius: 7px;
	color: #666666;
	cursor:pointer;
	font-size:20px;
	text-align:center;
	text-shadow: 1px 0 1px #FFF;
	vertical-align:middle;
	width: 200px;
}
option{
	background: none;
	border-radius: 7px;
	font-size:14px;
	padding:5px 15px;
}
/* buttons */
.btn-content{
	clear:both;
	text-align: center;
}
input[type="button"], input[type="reset"]{
    border: 1px solid #999;
    border-radius: 7px;
	font-size:14px;
	text-shadow: -1px 0 1px #666666;
	cursor:pointer;
	padding:5px;
}
.red, .redF:hover{background:#ee5f5b;color:#FFF}
.redF, .red:hover{background:#bd362f;color:#FFF}
.green, .greenF:hover{background:#62c462;color:#FFF}
.greenF, .green:hover{background:#51a351;color:#FFF}
.yellow, .yellowF:hover{background:#FBB450;color:#FFF}
.yellowF, .yellow:hover{background:#F89406;color:#FFF}
/* ./buttons */
img{
	max-width:380px;
}